html {
    font-family: 'Roboto', sans-serif;
  }
h1{
    text-align: center;
    margin-top: 50px;
}
h2{
    text-align: center;
    margin: 5px;
}
.container{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: 
    space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}
.numbers{
    display: flex;
    box-sizing: border-box;
    
    margin-right: 5px;
    text-align: center;
    border: solid 2px hsla(239, 75%, 11%, 0.695);
    border-radius: 5px;
    width: 310px;
    height: auto;
    flex-direction: column;
    gap: 5px;
    justify-content: space-evenly;
    background-color: hsl(210, 15%, 90%);
}
.row1{
margin-top: 5px;
gap: 5px;
}
.row4{
    margin-bottom: 5px;
}
.button{
    height: 90px;
    width: 90px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    border:1px solid blueviolet;
    font-weight: bold;
    font-size: 2.6em;
    background-color: hsl(240, 4%, 51%);
}

.button:hover{
    background-color: hsla(240, 4%, 51%, 0.869);
    color: rgb(255, 255, 255);
}
#go{
    width: 190px;
    background-color: hsl(104, 54%, 41%);
    color: rgb(2, 36, 2);
}
#go:hover{
background: linear-gradient(to right, hsl(101, 74%, 43%) 45%, white 90%);
    color: rgb(9, 63, 8);
}
.instruction-textField{
display: flex;
box-sizing: border-box;
flex-direction: column;
border: solid 2px hsla(239, 75%, 11%, 0.695);
border-radius: 5px;
width: 310px;
height: 389px;
flex-direction: column;
justify-content: space-between;
}
.input-field{
    /* border: solid 2px hsla(239, 75%, 11%, 0.695); */
    height: 90px;
    margin-bottom: 5px;
    /* overflow: hidden; */
    display: flex;

}
#numInput{
    height: 85px;
    font-size: 5em;
    min-width: 99px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 5px;
}
/* For most browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */
#target-for-history{
    text-align: center;
    align-items: center;
    
    
}
#clear{
    width: 190px;
    background-color: hsl(18, 68%, 55%);
    color: rgb(2, 36, 2);
}
#clear:hover{
background: linear-gradient(to right, hsl(23, 32%, 60%) 5%, hsl(18, 68%, 55%) 49%);
    color: rgb(9, 63, 8);
}
.hide {
    display: none;
  }
.end{
    display: flex;
    justify-content: center;
    
}
.refresh{
    width: 200px;
    height: 90px;
    background-color: hsl(104, 54%, 41%);
    color: rgb(2, 36, 2);
    font-size: 2.7em;
    border-radius: 5px;
    margin-top: 5px;
}
.refresh:hover{
    background-color: hsla(104, 54%, 41%, 0.832);
}
/* .container{ 625 */

@media (max-width: 625px) {
.container {
    flex-direction: column;
    margin-top: 0;
}
}